.about-container {
  padding: 25px;
  width: 80%;
  margin: auto;
}

.about-container > span {
  font-size: 5em;
  color: var(--orange);
}

.skills-container {
  flex-wrap: wrap;
  width: 80%;
}

.skills-container > span {
  font-family: var(--font-poppins) !important;
  padding: 10px;
  border: 1px solid var(--light-black);
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.skills-container > span:hover {
  border: 1px solid var(--orange);
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  .about-container {
    padding: 25px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .about-container > span {
    font-size: 5em;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .about-container > .home-subheading {
    width: 100%;
    border: none !important;
  }
  .about-container > audio {
    width: 100%;
  }
  .skills-container {
    width: 100%;
  }
}
