.error-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.error-container > h1 {
  color: var(--orange);
  font-size: 10em;
}

.error-container > p {
  color: var(--light-black);
  font-size: 1.2em;
  text-align: center;
}
