.home-container {
  min-height: 100vh;
}

.home-content {
  width: 50%;
  font-size: 1.2em;
}

.home-subheading {
  color: var(--light-black);
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.9em;
}

.home-heading span {
  color: var(--orange);
  font-size: 2.5em;
}

@media screen and (max-width: 768px) {
  .home-content {
    width: 90%;
    font-size: 1em;
  }

  .home-heading {
    text-align: center;
    margin-top: 50px;
  }

  #code {
    display: hidden;
  }
}
