.footer-link {
  margin: 0px 10px;
  display: inline-block;
  color: var(--light-black);
  transition: all 0.3s;
  font-size: 1.5em;
}
.footer-link:hover {
  color: var(--orange);
}
.footer-container {
  padding: 25px;
  border-bottom: 6px solid var(--orange);
  margin-top: 50px;
  padding: 0px 10%;
}
.footer-container > span {
  color: var(--orange);
  font-size: 2.5em;
  margin-bottom: 20px;
}
